.aboutContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}
.item{
    width:400px;
    margin:20px;

}

.recentWorkContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.headerTextContainer{
    margin-top: 40vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    color:white !important;
}

.custom-shape-divider-top-1610246505 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #13334C;
}

.custom-shape-divider-top-1610246505 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 86px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1610246505 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1610406512 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1610406512 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.custom-shape-divider-top-1610406512 .shape-fill {
    fill: #f06023;
}