 
 *{
    font-family: Open Sans, sans-serif;
    color:rgb(75, 77, 79);

 }

 .left{
    text-align: left;
 }
 .center{
   text-align: center;
}
 .header-introbig{
    font-size: 20px;
    margin-top: 200px;
    color:rgb(255, 255, 255);
}

 .header-introsmall{
    font-size: 10px;
    margin-top: 3vh;
    margin-bottom: 20vh;
    color:rgb(255, 255, 255)

}
 
 .header-btn {
    top: 5vw;
    right: 5vw;
    border:none;
    color: white;
}

.header-btn:hover {
   background-color:#2f48a1;
   color: white;
   border: none;
 }

 .header-btn:active {
   outline: none;
   border: none;
 }

 .header-brand{
    top: 3.5vw;
    left: 4vw
}

 .header-smSpace{
    margin-top: 20vh
}

 .header-bgColor{
    position: relative;
    height:100vh;
    display: flex;
    justify-content: center;
}
.header-logo-container{
   position: absolute;
   bottom: 70px;
}
.header-logo-size{
   width: 300px;
   height:auto;
}

 .about-width {
    color: rgb(75, 77, 79);
    display: inline-block;
}
.about-img{
   width:250px;
   height:200px;

}

.about-padding{
   padding:20px;
}

 .about-card-edu{
    margin-top: 100px;

}
.about-card-passion{
   float: left;
   width:50%;
   margin-top: 100px;

}
.about-card-drive{
   float: right;
    width:50%;
    margin-top: 100px;
}
 .intro-p{
   line-height: 200%;
   margin: 0 5vw;
 }
 .about-p{
   line-height: 200%;
   font-size: 13px;
 }
 .footer-bgColor {
    height: 50vh;
}

 .footer-center{
    margin-top: 15vh;
}

 .footer-txtCenter {
    font-size: 13px;
    color: white;
    bottom:0px;
}
.footer-img{
   width:55px;
   height:55px; 
}
 .work-center {
    color: rgb(75, 77, 79);

}

 .work-introbig {
    font-size: 20px;
    color: rgb(75, 77, 79);
}

 .work-logos{
      cursor: pointer;
}

.background-image-ac{ 
   border-radius: 5px;
   margin: 0px auto;
   width: 300px;
   height: 200px;
   margin: 10px;
   background-color: white;
   border: 1px solid black;
   display: inline-block;
}

.background-image-ib{
   border-radius: 5px;
   margin: 0px auto;
   width: 300px;
   height: 200px;
   margin: 10px;
   background-color: white;
   border: 1px solid black;
   display: inline-block;

}
.page{
   padding: auto 10vw;
}
.padding{
   padding:20vh 20vw;
}
.grey{
   background-color: rgb(205, 221, 255);
   width:100%;
}
.yellow{
   background-color: #d78b7d;
}
.red{
   background-color:#F06023;
}
.light-blue{
   background-color: rgb(168, 208, 230);
}
.blue{
   background-color: #3755be;
}
.dark-blue{
   background-color: #1d236b;
}
.off-white{
   background-color: #efecf8;
}
h1{
   color:rgb(112, 112, 112);
}
h2,h3{
   color:rgb(112, 112, 112);
}
.hero{
   display:flex;
   flex-wrap:wrap;
   justify-content:space-between;
   align-items:center;
}
.form{
   padding:5vh 5vw;
}

.table td, .table th{
   vertical-align:middle;
}
.mobile{
   display:flex;
}
.desktop{
   display: none;
}
@media only screen and (min-width: 768px) {
   .hero{
      display:flex;
      flex-wrap:nowrap;
      justify-content:space-between;
      align-items:center;
   }
   .divider{
      display: none;
   }
   .list-unstyled{
      height:140px
   }
 }

 @media only screen and (min-width: 574px) {
   /* .list-unstyled{
      height:190px
   } */
   .form{
      padding:5vh 10vw;
   }
   .mobile{
      display:none;
   }
   .desktop{
      display: flex;
      align-items: center;
   }
 }
 